<h1> potential friends </h1>
<label> {{ notificationLabel }} </label>

<!-- logic error: when you delete everythng from the search bar it displays nothing -->
<!-- we also probably shouldnt highlight the whole table row but just the button on hover -->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
<input type="text" id="searchInput" placeholder="Search for games" onkeyup="filterTableEntries()" style="border-radius: 5px; padding: 5px; border: none; width: 300px; margin-bottom: 5px">
            <!-- text should turn black when background turns light -->
<table id="potentialFriendsTable" class="table table-hover text-centered" style="float:none; margin-left:auto; margin-right:auto; text-align:center">
    {{#each potentialGamesArray }}
        <tr>
            <td> {{ this.Title }} </td>
            {{#if this.alreadyPlays }}
                <td>
                    <!-- ** need to disable button here since friend user already plays -->
                    
                    <!-- same thing here as with the friends list, the whole table row doesn't need to have the hover effects, just the button -->
                    
                    <form name="form_addGame" method="post" action="/removeGame">
                        <input type="hidden" name="field_gameIdToRemove" value = {{ this.GameId }}>
                        <input type="submit" value="Remove" style="height:50px; width:80px; background-color: red; font-size:15px; border-radius: 5px; border: none; color: black">
                    </form>
                </td>
            {{ else }}
                <td>
                    <form name="form_addGame" method="post">
                        <input type="hidden" name="field_gameIdOfNewGame" value = {{ this.GameId }}>
                        <input type="submit" value="Add" style="height:50px; width:80px; background-color: #4dff88; font-size:15px; border-radius: 5px; border: none; color: black">
                    </form>
                </td>
            {{/if}}
        </tr>

    {{/each}}
</table>
        </div>
    </div></div>


<!-- Script adapted from http://www.w3schools.com/howto/howto_js_filter_table.asp -->
<script>
    function filterTableEntries() {
        var currentInput = document.getElementById("searchInput");
        var filterString = currentInput.value.toLowerCase();
        var resultTable = document.getElementById("potentialFriendsTable");
        var resultTableRows = resultTable.getElementsByTagName("tr");

        for (i = 0; i < resultTableRows.length; i++) {
            var cellData = resultTableRows[i].getElementsByTagName("td")[0];
            if (filterString.length != 0 && cellData.innerHTML.toLowerCase().indexOf(filterString, 0) > -1) {
                resultTableRows[i].style.display = "";
            } else {
                resultTableRows[i].style.display = "none";
            }
        }
    }
</script>